*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  position: relative;
}

p, ul {
  line-height: 150%;
}

h1.main {
    position: absolute;
    font-size: 100px;
    text-align: center;
    z-index: 10;
    top: 20px;
    left: 45px;
    bottom: 0;
    margin: auto;
}

.product-image, .product-description {
  width: 50%;
  height: 100vh;
  float: left;
  display: inline-block;
  position: relative;
}  

.product-image {
  border: 20px solid #000;
  /* colors for background  #4c8fff, #c54fb0, #64ddd9 */
}

.product-image img {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.product-description {
  padding: 150px 50px 50px 50px;
}

.product-description h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

.btn {
    position: absolute;
    width: 100%;
    background: #000;
    padding: 30px;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
