*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  position: relative;
}

p, ul {
  line-height: 150%;
}

h1.main {
    position: absolute;
    font-size: 100px;
    text-align: center;
    z-index: 10;
    top: 20px;
    left: 45px;
    bottom: 0;
    margin: auto;
}

.product-image, .product-description {
  width: 50%;
  height: 100vh;
  float: left;
  display: inline-block;
  position: relative;
}  

.product-image {
  background: linear-gradient(270deg, #e61fbc, #6a1fe6, #e6551f);
  background-size: 600% 600%;
  border: 20px solid #000;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

.product-image img {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.product-description {
  padding: 150px 50px 50px 50px;
}

.product-description h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

.btn {
    position: absolute;
    width: 100%;
    background: #000;
    padding: 30px;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}


/*https://www.gradient-animator.com/*/
@-webkit-keyframes AnimationName {
    0%{background-position:0% 64%}
    50%{background-position:100% 37%}
    100%{background-position:0% 64%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 64%}
    50%{background-position:100% 37%}
    100%{background-position:0% 64%}
}
@keyframes AnimationName { 
    0%{background-position:0% 64%}
    50%{background-position:100% 37%}
    100%{background-position:0% 64%}
}


