  body {
      margin: 0;
      font-family: 'Karla', sans-serif;
  }

  .main {
    width: 100%;
    text-align: center;
    margin: 30px;
    font-size: 20px;
  }

  .main a {
    color: #000;
  }
  
  .image {
      width: 30vw;
      height: 300px;
      overflow: hidden;
      margin: 20px;
      display: inline-block;
      float: left;
      position: relative;
      background-color: #f80ba4;
      background-size: cover;
      background-image: url('../images/image.jpg')
  }
  
  .image img {
      width: 100%;
  }
  
  .image h1 {
      position: absolute;
      bottom: 10px;
      padding: 5px 10px;
      background: #fff;
      width: 100%;
      text-align: center;
      font-size: 20px;
  }

  .multiply {
    background-blend-mode: multiply;
  }

  .screen {
    background-blend-mode: screen; 
  }

  .overlay {
    background-blend-mode: overlay; 
  }

  .difference {
    background-blend-mode: difference; 
  }

  .luminosity {
    background-blend-mode: luminosity;
  }
  
  .color {
    background-blend-mode: color;
  }

  .exclusion {
    background-blend-mode: exclusion;
  }

  .color-burn {
    background-blend-mode: color-burn;
  }

  .color-dodge {
    background-blend-mode: color-dodge;
  }

  .hue {
    background-blend-mode: hue;
  }

  .hard-light {
    background-blend-mode: hard-light;
  }