  body {
      margin: 0;
      font-family: 'Karla', sans-serif;
  }
  
  header {
      width: 100vw;
      height: 80vh;
      top: 0;
      left: auto;
      background: url(../images/landscape.jpg) center top no-repeat;
      background-size: cover;
  }
  
  a {
    color: #000;
  }
  
  h1 {
      color: #fff;
      margin: 0;
      font-size: 100px;
      letter-spacing: -0.03em;
      position: relative;
      font-weight: normal;
  }
  
  header h3 {
      color: #fff;
      z-index: 10000;
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 8px;
  }
  
  article {
      width: 65vw;
      margin: 50px auto;
      display: block;
  }
  
  article p {
      font-size: 14px;
      font-weight: 300;
      line-height: 150%;
  }
  
  p.intro {
      font-size: 25px;
      font-family: 'Libre Baskerville', serif;
  }
